# Linear Regression Multivariate

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from word2number import w2n
from sklearn import linear_model
%matplotlib inline

In [3]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
# Data Preprocessing (Handling Missing values)
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','bedrooms']], df.price)
print("Coefficient",reg.coef_)
print("Intercept",reg.intercept_)
print("predict house price using predict func", reg.predict([[3000,3,40]]))
print("predict house price using predict func", ((3000*89.63335496+3*25983.93900065+40*25983.93900065)+reg.intercept_))

Coefficient [   89.63335496 25983.93900065 25983.93900065]
Intercept 125553.21219987032
predict house price using predict func [1511762.6541207]
predict house price using predict func 1511762.6541078202

In [72]:
# Exercise 
df = pd.read_csv("hiring.csv")

#Data Cleaning
df.experience = df.experience.fillna('zero')
df.experience  = df.experience.apply(w2n.word_to_num)
import math
df.test_score = df.test_score.fillna(math.floor(df.test_score.mean()))
print(df)
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score', 'interview_score']], df.salary)
print("coefficient ",reg.coef_)
print("Intercept ",reg.intercept_)
print("prediction", reg.predict([[2,9,6]]))

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         7.0                7   72000
7          11         7.0                8   80000
coefficient  [2922.26901502 2221.30909959 2147.48256637]
Intercept  14992.65144669314
prediction [53713.86677124]